*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #111418;
    background-size: cover;
    min-height: 200vh;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    
}

header.sticky
{
    padding: 5px 100px;
    background: rgba(17, 20, 24, 0.7);
}

header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

img {

    height: 100px;
    width: 100px;

}


header ul

{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li
{
    position: relative;
    list-style: none;

}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: color 0.6s ease;

}

header ul li a:hover
{
    color: crimson;
    text-decoration: underline;
}


.banner
{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #fff;
   /* background: url(https://images.unsplash.com/photo-1596255955743-9f7b112c53e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);*/

}

header.sticky ul li a
{

    color: white;
}


header.sticky ul li a:hover
{
    color: crimson;
}


/*menu btn styling*/

.menu-btn
{
    color:#fff;
    cursor: pointer;
    font-size: 23px;
    display: none;
}






/*======= home section ======== */



.banner .max-width
{
    margin: auto 0 auto 40px;

}

.banner .home-content .text-1
{
    font-size: 27px;
    margin-left: -450px;
}

.banner .home-content .text-2
{
    font-size: 80px;
    font-weight: 600;
    /*margin-left: -3px;*/
    margin-left: -500px;
}

.banner .home-content .text-3
{
    font-size: 40px;
    margin: 5px 0;
    margin-left: -500px;
}

.banner .home-content .text-3 span
{
    color: rgba(17, 20, 24, 1);
    font-weight: 500;
}


.banner .home-content a
{
    display: inline-block;
    background: white;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    margin-left: -500px;
    border-radius: 6px;
    border: 2px solid white;
    text-decoration: none;
    transition: all 0.6s ease;
}




.banner .home-content a:hover
{
    color: #fff;
    background: none;

}

/*
.home-content
{
    position: relative;
    right: 150px;
}

*/

.test {



}

.test img
{
    position: absolute;
    right:200px;
    bottom: 200px;
    height: 500px;
    width: 500px;
}




/*responsive media query start */



@media (max-width: 1109px) {

    .banner .max-width
    {
        margin-left: 0;

    }


}




@media (max-width: 1050px) {


    .max-width
    {
        padding: 0 50px;
    }

}


@media (max-width: 1029px) {


    .banner .max-width
    {
        padding: 0 50px;
    
    }
    
    header ul
    {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.6s ease;
    }

    header ul.active
    {
        left: 0;
    }


    header ul
    {
        display: block;

    
    }
    header ul li a

    {
        display: inline-block;
        margin: 20px;
        font-size: 25px;
    }

    .menu-btn
    {
        display: block;
        z-index: 999;
    }



    .menu-btn i.active::before
    {
        content: "\f00d";
    }


    .banner .home-content .text-2
    {
        font-size: 70px;
    
    }
    
    .banner .home-content .text-3
    {
        font-size: 35px;
    }

    

    .banner .home-content a
    {
        font-size: 23px;
        padding: 10px 32px;

    }





}


@media (max-width: 690px) {


    .banner .home-content .text-2
    {
    font-size: 50px;

    }

    .banner .home-content .text-3
    {
    font-size: 27px;
    }




    .banner .home-content a
    {
        font-size: 20px;
        padding: 9px 25px;

    }





    } 




    ::selection
    {
       /* background-color: rgba(128, 128, 128, 0.3)*/
       background-color: #1d293a;
    }





/*Offer Section*/






.container
{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;
   /* background: url(https://images.unsplash.com/photo-1596255955743-9f7b112c53e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);*/

}

.container .frick .controller
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 1400px;
    height: 650px;
}

.container .frick .controller .test

{
    background-color: #2b3034;
    height: 300px;
    width: 450px;
    border-radius: 9px;
    transition: 1s;
}


.container .frick .controller .test i
{

    color: black;
    margin-left: 180px;
    margin-top: 45px;


}

.container .frick  .controller .test h1

{
    text-align: center;
    margin-left: -50px;
    margin-bottom: 30px;
    margin-top: 20px;
}


.container .frick .controller .test p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: gray;
}

.container .frick .controller .test:hover
{
    height: 0px;
}


.container .frick  .text-1
{
    font-size: 27px;
    text-align: center;
    color: #00bfa6;
    
}

.container .frick  .text-2
{
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 15px;
}



/*Satisfaction Section*/



.satisfaction
{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 700px;
   /* background: url(https://images.unsplash.com/photo-1596255955743-9f7b112c53e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);*/

}

.satisfaction .user-satisfaction
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}


.satisfaction .user-satisfaction .text-1 
{

    position: absolute;
    color: #00bfa6;
    font-size: 27px;

}



.satisfaction .user-satisfaction .text-2
{
    position: relative;
    top: 130px;
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin: 15px;
}



.satisfaction .user-satisfaction .controller
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    height: 150px;
}

.satisfaction .user-satisfaction .controller .hundred

{
    position: relative;
    top: 150px;
    left: 600px;
    background-color: #2b3034;
    height: 100px;
    width: 200px;
    border-radius: 9px;
    transition: 1s;
}


.satisfaction .user-satisfaction .controller .hundred:hover
{
    height: 0px;
}


/*end*/

.satisfaction .user-satisfaction .hundred p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    text-align: center;

}

.satisfaction .user-satisfaction .hundred h1
{
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 600;
}


/*||Price Area ||*/

.price
{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

.price .price-area  .text-1
{
    font-size: 27px;
    text-align: center;
    color: #00bfa6;
    
}

.price .price-area  .text-2
{
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 15px;
    margin-bottom: 80px;
}




.price .price-area .controller
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 1400px;
    height: 550px;
}


.price .price-area .controller .pricelist

{
    background-color: #2b3034;
    height: 300px;
    width: 450px;
    border-radius: 9px;
    transition: 1s;
}

footer{
    position: absolute;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    /*
    border: 1.1px solid white;
    border-radius: 50%;
*/
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px;
 padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}